asgi-redis==1.4.3
asgiref==1.1.2
async-timeout==2.0.0
attrs==17.4.0
autobahn==17.10.1
Automat==0.6.0
channels==2.0.2
-e git+git@github.com:jcmlmorav/yac.git@74303b260894d0a31be0d94fc57bbbc3fbd2bba8#egg=chat
click==6.7
constantly==15.1.0
daphne==2.0.3
Django==2.0.2
Flask==0.12.2
Flask-SocketIO==2.9.3
gunicorn==19.7.1
hyperlink==17.3.1
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
msgpack-python==0.5.4
python-engineio==2.0.2
python-socketio==1.8.4
pytz==2017.3
redis==2.10.6
six==1.11.0
Twisted==17.9.0
txaio==2.8.2
Werkzeug==0.14.1
zope.interface==4.4.3
